$cellSize: 12px;

.animation_title {
  margin-bottom: 12px;
}

.animation_grid {
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  padding: 12px 12px 24px;
  user-select: none;
}

.animation_grid__row {
  height: $cellSize;
  margin: 0;
}

.animation_grid__cell {
  border: 1px solid #ccc;
  display: inline-block;
  width: $cellSize;
  height: $cellSize;
  &:hover {
    background: #222;
  }
}

.animation_grid__cell--selected {
  background: #111;
}

.animation_grid__buttons {
  margin-top: 12px;
}
