h4 Create a new animation

.animation_grid
  - var NUM_CELLS = 36
  - for (var x = 0; x < NUM_CELLS; x++)
    .animation_grid__row
      - for (var y = 0; y < NUM_CELLS; y++)
        .animation_grid__cell
